body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #abb;
  font-family: sans-serif;
  padding: 0 1em;
  position: absolute;
}
#node-container {
  background: #cee;
  height: 100vh;
}

.node {
  background: #ddf;
  border: 1px solid black;
  height: 80px;
  position: relative;
  width: 120px;
}

.node p {
  margin: 0;
  padding: 0;
}

#editor-container {
  display: none;
  background: #ddf;
  padding: 1em;
  position: absolute;
  right: 20px;
  width: 400px;
}

#editor label {
  display: block;
}

#editor textarea {
  width: 350px;
  height: 20em;
}

#context-menu {
  display: none;
  position: absolute;
  background: #fff;
}

#cm-buttons {
    list-style: none;
    text-indent: none;
    padding: 0;
    margin: 0;
}

#context-menu li a {
  background: #5be;
  border-left: 3px solid black;
  display: block;
  color: #000;
  font-family: sans-serif;
  padding: 0.3em;
  text-decoration: none;
}






