#node-container {
  background: #cec;
  height: 85vh;
}

.node {
  background: #ddf;
  border: 1px solid black;
  height: 80px;
  position: relative;
  width: 120px;
}

.node p {
  margin: 0;
  padding: 0;
}

#editor-container {
  display: none;
  background: #ddf;
  padding: 1em;
  position: absolute;
  right: 20px;
  width: 400px;
}

#editor label {
  display: block;
}

#editor textarea {
  width: 350px;
  height: 20em;
}

#context-menu {
  border: 1px solid black;
  display: none;
  position: absolute;
  height: 70px;
  width: 100px;
}